.body{
    margin: 45px;
    margin-top: 35px;
    font-family:  SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* first */
.body1{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 35px;    
}
.left1{
    width: 100%;
}
.img-body1{
    width: 100%;
    height: 100%;
}
.right1{
    width: 100%; 
    background-color: rgb(209, 209, 170);
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}
.heading1-1{
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin: 125px 0 0 0;
    color: #32462f;
}
.heading1-1 sup{
    font-size: 35px;
    vertical-align: super;
}
.heading1-2{
    text-align: center;
    color: #32462f;
    font-size: 25px;
    line-height: 1.5;
    font-weight: 600;
    display: block;
    margin: 45px 0 0 0;
}
.button1{
    border-radius: 50px;
    height: 35px;
    border-width: 1px;
    width: 120px;
    font-size: 17px;
    font-weight: 600;
    color: #32462f;
    background-color: rgb(209, 209, 170);
    margin: 45px 0 0 0;
}
.button1:hover{
    background-color: rgb(218, 218, 207);
}

/* Second */
.body2{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 35px;    
}
.left2{
    width: 100%;
}
.img-body2{
    width: 100%;
    height: 100%;
}
.right2{
    width: 100%; 
    background-color:rgb(209, 209, 170);
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}
.heading2-1{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
    margin: 125px 0 0 0;
    color: #32462f;
}
.heading2-1 sup{
    font-size: 35px;
    vertical-align: super;
}
.heading2-2{
    text-align: center;
    color: #32462f;
    font-size: 20px;
    line-height: 1.5;
    font-weight:500;
    display: block;
    margin: 45px 0 0 0;
}
.button2{
    border-radius: 50px;
    height: 35px;
    border-width: 1px;
    width: 120px;
    font-size: 17px;
    font-weight: 600;
    color: #32462f;
    background-color: rgb(209, 209, 170);
    margin: 45px 0 0 0;
}
.button2:hover{
    background-color: rgb(143, 143, 131);
}

/* third */
.body3{
    margin-bottom: 35px;    
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left3{
    width: 100%;
}
.img-body3{
    width: 100%;
    height: 100%;
}
.right3{
    width: 100%; 
    background-color: #32462f;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}
.heading3-1{
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin: 125px 0 0 0;
    color: white;
}
.heading3-1 sup{
    font-size: 35px;
    vertical-align: super;
}
.heading3-2{
    text-align: center;
    color: white;
    font-size: 25px;
    line-height: 1.5;
    font-weight: 600;
    display: block;
    margin: 45px 0 0 0;
}
.button3{
    border-radius: 50px;
    height: 35px;
    border-width: 1px;
    width: 120px;
    font-size: 17px;
    font-weight: 600;
    border-color: white;
    color: rgb(255, 255, 255);
    background-color: #32462f;
    margin: 45px 0 0 0;
}
.button3:hover{
    background-color:#485646;
}

/* Fourth */
.body4{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left4{
    width: 100%;
}
.img-body4{
    width: 100%;
    height: 100%;
}
.right4{
    width: 100%; 
    background-color: rgb(209, 209, 170);
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}
.heading4-1{
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin: 125px 0 0 0;
    color: #32462f;
}
.heading4-1 sup{
    font-size: 35px;
    vertical-align: super;
}
.heading4-2{
    text-align: center;
    color: #32462f;
    font-size: 25px;
    line-height: 1.5;
    font-weight: 600;
    display: block;
    margin: 45px 0 0 0;
}
.button4{
    border-radius: 50px;
    height: 35px;
    border-width: 1px;
    width: 120px;
    font-size: 17px;
    font-weight: 600;
    color: #32462f;
    background-color: rgb(209, 209, 170);
    margin: 45px 0 0 0;
}
.button4:hover{
    background-color: rgb(218, 218, 207);
}


/* bottom text */
.bottom-text{
    line-height: 1.8;
    font-size: 17px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: 500;
}
